<!DOCTYPE html>
<html>
<head>
    <title>API Results</title>
    <link href="/css/output.css" rel="stylesheet">
</head>
<body class="m-4">
    <h1 class="text-xl font-bold mb-4">API Data Results</h1>
    <pre><%= JSON.stringify(data, null, 2) %></pre>
</body>
</html>
