<!-- views/api.ejs -->
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>API Data</title>
  <link rel="stylesheet" href="/css/tailwind.css">
  <script defer src="/javascripts/script.js"></script>
</head>
<body>
<form id="data-form" action="/get-movie" method="POST">
    <input type="text" placeholder="Movie Title" required />
    <input type="submit" value="Get Movie Info" />
</form>
</body>
</html>