<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link href="/css/output.css" rel="stylesheet">
</head>
<body class="m-4">
    <h1 class="text-xl font-bold mb-4">Data Fetching Application</h1>
    <h2>Database Data Retrieval</h2>
    <form action="/fetch-data" method="post">
        <input type="text" name="tableName" placeholder="Table Name" required>
        <input type="text" name="columns" placeholder="Columns (comma-separated)">
        <button type="submit">Fetch Data</button>
    </form>

    <h2>API Data Retrieval</h2>
    <form action="/fetch-api-data" method="get">
        <input type="text" name="apiEndpoint" placeholder="API Endpoint" required>
        <button type="submit">Fetch API Data</button>
    </form>
</body>
</html>